---
- name: Ensure slackpkg directories exist
  file: path={{ item }} owner=root group=root mode=0755 state=directory
  with_items:
    - /etc/slackpkg
    - /etc/slackpkg/templates

- name: Ensure slackpkg is configured
  copy: src=slackpkg{{ item }} dest=/etc/slackpkg/{{ item }}
      owner=root group=root mode=0644
  with_items:
    - blacklist
    - greylist
    - mirrors
    - slackpkg.conf
    - slackpkgplus.conf

- name: Ensure sbopkg directories exist
  file: path={{ item }} owner=root group=root mode=0755 state=directory
  with_items:
    - /etc/sbopkg
    - /var/lib/sbopkg
    - /var/lib/sbopkg/queues

- name: Ensure sbopkg is configured
  copy: src=sbopkg/conf/sbopkg.conf dest=/etc/sbopkg/sbopkg.conf
      owner=root group=root mode=0644

- name: Ensure sbopkg queue files are in place
  copy: src=sbopkg/queues/{{ item }} dest=/var/lib/sbopkg/queues/{{ item }}
      owner=root group=root mode=0644
  with_items:
    - all.sqf

- name: Ensure system Ruby gems are installed
  gem: name={{ item }} user_install=no state=present
  with_items: gems
  when: network_available

- name: Ensure system PIP requirements file is present
  copy: src=pip/requirements.txt dest=/etc/requirements.txt
      owner=root group=root mode=0644
