---
- name: Ensure acpid configuration directories exist
  file: path={{ item }} owner=root group=root mode=0755 state=directory
  with_items:
    - /etc/acpi
    - /etc/acpi/events

- name: Ensure default acpid config does not exist
  file: path=/etc/acpi/{{ item }} state=absent
  with_items:
    - events/default
    - acpi_handler.sh

- name: Ensure acpid event hooks are configured
  copy: src=etc/acpi/events/{{ item }} dest=/etc/acpi/events/{{ item }} owner=root group=root mode=0644
  with_items:
    - brightnessdown
    - brightnessup
    - lid
    - power
    - presentation

- name: Ensure acpid handler scripts are configured
  copy: src=etc/acpi/{{ item }} dest=/etc/acpi/{{ item }} owner=root group=root mode=0755
  with_items:
    - functions
    - backlight.sh
    - battery_shutdown.sh
    - power.sh
    - presentation.sh
    - volume.sh

- name: Ensure misc ACPI utilities are installed
  copy: src=usr/local/bin/{{ item }} dest=/usr/local/bin/{{ item }} owner=root group=root mode=0755
  with_items:
    - caffeinate

- name: Ensure TLP is configured
  copy: src=etc/default/tlp dest=/etc/default/tlp owner=root group=root mode=0644
