---
- name: Ensure firewall init script exists
  copy: src=etc/rc.d/rc.firewall dest=/etc/rc.d/rc.firewall

- name: Ensure IPTables config file is in place
  copy: src=etc/iptables.conf dest=/etc/iptables.conf owner=root group=root mode=0644
