---
- name: Ensure users exist
  user: name={{ item }} group=users groups=wheel,games,netdev remove=no
      password={{ password_hash }} update_password=on_create state=present
  with_items: users

- name: Ensure sudoers are configured correctly
  template: src=sudoers.j2 dest=/etc/sudoers validate='visudo -cf %s'
      owner=root group=root mode=0440
