---
- name: Ensure users exist
  user: name={{ item }} group=users groups=wheel,games,netdev remove=no
      password={{ password_hash }} update_password=on_create state=present
  with_items: users

- name: Ensure sudoers are configured correctly
  template: src=sudoers.j2 dest=/etc/sudoers validate='visudo -cf %s'
      owner=root group=root mode=0440

- name: Ensure root's vim config directories exist
  file: path=/root/{{ item }} owner=root group=root mode=0755 state=directory
  with_items:
    - .vim
    - .vim/colors

- name: Configure root's vim environment
  copy: src=root/{{ item }} dest=/root/.{{ item }} owner=root group=root mode=0644
  with_items:
    - vimrc
    - vim/colors/Tomorrow-Night.vim
    - vim/colors/Tomorrow-Night-Blue.vim
    - vim/colors/Tomorrow-Night-Bright.vim
    - vim/colors/Tomorrow-Night-Eighties.vim
    - vim/colors/Tomorrow-Night-Mod.vim
 
- name: Configure default profile
  copy: src=etc/profile dest=/etc/profile owner=root group=root mode=0644
