---
- name: Ensure enabled services are enabled
  file: path=/etc/rc.d/rc.{{ item }} owner=root group=root mode=0755 follow=yes state=file
  with_items: enabled_services

- name: Ensure disabled services are disabled
  file: path=/etc/rc.d/rc.{{ item }} owner=root group=root mode=0644 follow=yes state=file
  with_items: disabled_services
